<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.sass")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,800")
    title Frozen
  body
    nav.u-posFixed
      .u-flex.u-flexJustifyBetween.center
        h1 Frozen
        a(href="https://github.com/sosukesuzuki/Frozen" target="_blank")
          i.fab.fa-github
    .feature-hero.u-textCenter
      h2 Frozen
      p The draft editor for your work. (Our English is terrible, please review.)
      img(alt="screenshot" width="800px" height="396px" src="https://github.com/sosukesuzuki/Frozen/raw/master/resources/Frozen.jpg")
    .feature-1.feature.dark
      .content.center
        h3 For writing a draft.
        p
          span.bold Frozen was designed for writing draft easily.
        .u-flex.half
          div
            p
            | We often encounter the case that need to take a notes.
            | Do you want to open the heavy heavy Electron application for taking a markdown note, in this case?
            | I hate it.
            | We should take a 
            span.bold draft 
            | for a note easily.
            p
            | Also, there are many chances that we want to take drafts.
            |  (eg: to send e-mail, organize todos, etc.) 
            | Frozen helps you when those cases.
          div
            img(alt="screenshot" height="300px" src="https://github.com/sosukesuzuki/Frozen/raw/master/resources/Frozen.jpg")
    .feature-2.feature.soft-dark
      .center.content
        h3 Supports Markdown.
        p
          span.bold Frozen supports GFM.
        .u-flex.half
          div
            p
            | You can write drafts as Markdown on Frozen.
            br
            | Frozen use #[a(href="https://remark.js.org/" target="blank") Remark.js].
            | So we can use various Markdown extensions.(eg: #[a(href="https://github.com/Rokt33r/remark-math") Katex], #[a(href="https://github.com/rhysd/remark-emoji") emoji] , etc.)
          div
            img(alt="screenshot" height="300px" src="https://github.com/sosukesuzuki/Frozen/raw/master/resources/Frozen.jpg")
    .feature-3.feature.dark
      .center.content
        h3 Works on browsers, but works in offline
        p
          span.bold Frozen works as Progressive Web Apps.
        u-flex.u-flex.half
          div
            p
            | You can use Frozen on modern browsers.
            | You don't need to open the Desktop Application.
            | Frozen cache static data with Service Worker.
            | Also, Flozen save notes data to IndexedDB.
            | So, You can use Frozen in offline.
            p
            span.bold Note: 
            | We have no idea to sync saved notes between multiple devices.
            | If you have important notes, you need to save it to the other great note-taking application. 
          div
            img(alt="screenshot" height="300px" src="https://github.com/sosukesuzuki/Frozen/raw/master/resources/Frozen.jpg")
    footer
      div.center
        p Copyright (c) 2018 sosukesuzuki All Rights Reserved.

